.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 20px;
  width: 280px;
}

.button {
  margin-top: 20px;
  height: 45px;
  width: 80%;
  margin-left: 28px;
  background-color: white;
  border: 2px solid rgb(10, 87, 92);
  border-radius: 8px;
}

.button:hover {
  background-color:#2da77d;
  border: none;
  color: white;
}

.textContainer {
  display: flex;
  align-items: center;
  height: 50px;
  font-size: 16px;
  color: black;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

 .cost {
  margin-right: 28px;
}

.name {
  font-size: 18px;
  margin-left: 28px;
}
